:root {
    --main-color: #027581;
  
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    --blue:  rgb(3,112,181);
   
}

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

/* CSS SIDEBAR O BARRA DE MENU */

#sidebar-toggle {
    display: none;
}

.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    background:var(--blue);
    color: #fff;
    padding: 1rem;
    transition: width 500ms;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0rem 1rem;
}

.sidebar-menu {
    padding: 1.2rem;
}

.sidebar li {
    margin-bottom: 1rem;
}

.sidebar a {
    color: #fff;
    font-size: .9rem;
}

.sidebar a span:first-child {
    padding-right: .6rem;
}

#sidebar-toggle:checked~.sidebar {
    width: 60px;
}

#sidebar-toggle:checked~.sidebar .sidebar-header h3 span, #sidebar-toggle:checked~.sidebar li span:last-child {
    display: none;
}

#sidebar-toggle:checked~.sidebar .sidebar-header, #sidebar-toggle:checked~.sidebar li {
    display: flex;
    justify-content: center;
}

#sidebar-toggle:checked~.main-content {
    margin-left: 60px;
}

#sidebar-toggle:checked~ header {
    width: calc(100% - 60px);
    left: 60px;
}

.main-content {
    position: relative;
    margin-left: 240px;
    transition: margin-left 500ms;
}

/* CSS DE TOP */
header {
    position: fixed;
    left: 240px;
    top: 0;
    z-index: 100;
    width: calc(100% - 240px);
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    transition: left 500ms;
}

.search-wrapper {
    padding: 1rem;
    display: flex;
}

.search-wrapper input {
    border: 0;
    outline: 0;
    padding: 1rem;
    height: 1rem;
}

.social-icons {
    display: felx;
}

.social-icons span, .social-icons div {
    margin-left: 1.2rem;
}

.social-icons div {
    height: 38px;
    width: 38px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('');
    border-radius: 50%
}

main {
    margin-top: 60px;
    background: #f1f5f9;
    min-height: 90vh;
    padding: 1rem 3rem;
}

.dash-title {
    color: var(--color-dark);
    margin-bottom: 1rem;
}

.dash-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem;
}

.card-single {
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.card-single i {
   padding: 1rem;
}

.card-body {
    padding: 1.3rem 1rem;
    display: flex;
    align-items: center;
}

.card-body span {
    font-size: 2.3rem;
}

.card-body h5 {
    color: var(--text-grey);
    font-size: 1rem;
}

.card-body h4 {
    color: var(--color-dark);
    font-size: 1.2rem;
    margin-top: .5rem;
}

.card-footer {
    padding: .2rem 1rem;
    background: #f9fafc;
}

.card-footer a {
    color: var(--main-color);
}

.recent {
    margin-top: 2rem;
}

.activity-grid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-column-gap: 1.5rem;
}

.header-user-card{
    display: grid;
    grid-template-columns:90% 10%;
    grid-column-gap: 1.5rem;
}
.header-user-card .btn{
   padding:1rem .5rem;
}

.user-grid {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 1.5rem;
}
.user-card h3 {
    color: var(--text-grey);
    margin: 1rem;
}
.user-card table {
    width: 100%;
    border-collapse: collapse;
}

.user-card thead {
    background: #efefef;
    text-align: left;
}
.summary-card, .user-card, .activity-card, .bday-card {
    background: #fff;
    border-radius: 7px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.activity-card h3 {
    color: var(--text-grey);
    margin: 1rem;
}

.activity-card table {
    width: 100%;
    border-collapse: collapse;
}

.activity-card thead {
    background: #efefef;
    text-align: left;
}


/* CSS TABLA DE USUARIOS */
.table-responsive{
    overflow-x:auto;  
  }

th, td {
    font-size: .9rem;
    padding: 1rem 1rem;
    color: var(--color-dark)
}

td {
    font-size: .8rem;
}

tbody tr:nth-child(even) {
    background: #f9fafc;
}

/* CSS DE BADGED USADOS EN TODO EL PROYECYO */
.badge {
    padding: .5rem 1rem;
    border: none !important;
    border-radius: 20px;
    font-weight: 700;
    font-size: .7rem;
}

.badge.info { 
    background: #6BB3FA;
    color: #fff;
}
.badge.green {
    background: #027581;
    color: #fff;
}

.badge.danger {
    background: #FA6B6B;
    color: #fff;
}


.badge.success {
    background: #DEF7EC;
    color: var(--main-color);
}

.badge.warning {
    background: #F0F6B2;
    color: orange;
}


.text-center {
    text-align: center;
}

.text-center button {
    background: var(--main-color);
    color: #fff;
    border: 1px solid var(--main-color);
    border-radius: 4px;
    padding: .4rem 1rem;
}



/* CSS RESPOSIVE */
@media only screen and (max-width:1200px) {
    .sidebar {
        width: 60px;
        z-index: 150;
    }
    .sidebar .sidebar-header h3 span, .sidebar li span:last-child {
        display: none;
    }
    .sidebar .sidebar-header, .sidebar li {
        display: flex;
        justify-content: center;
    }
    .main-content {
        margin-left: 60px;
    }
    .main-content header {
        left: 60px;    
        width: calc(100% - 60px);
    }
    #sidebar-toggle:checked~.sidebar {
        width: 240px;
    }
    #sidebar-toggle:checked~.sidebar .sidebar-header h3 span, #sidebar-toggle:checked~.sidebar li span:last-child {
        display: inline;
    }
    #sidebar-toggle:checked~.sidebar .sidebar-header{
        display: flex;
        justify-content: space-between;
    }
     #sidebar-toggle:checked~.sidebar li {
        display: block;
    }
    #sidebar-toggle:checked~.main-content {
        margin-left: 60px;
        
    }
    #sidebar-toggle:checked~.main-content header {
        left: 60px;
    }
}

@media only screen and (max-width:860px) {
   .dash-cards{
       grid-template-columns: repeat(2,1fr);
       
   }
   .card-single{
       margin-bottom:1rem;
   }

   .activity-grid{
       display: block;
   }

   .summary{
       margin-top: 1rem;
   }

}


@media only screen and (max-width:600px) {
    .dash-cards{
        grid-template-columns: 100%;
        
    }
 
 }

 @media only screen and (max-width:450px) {
   main{
       padding-left: 1rem;
       padding-right: 1rem;
   }
 
 }

/* CSS FORMULARIO DE NUEVO USUARIO, TAMBIEN USADO EN EL MODAL DE VER Y EDITAR USUARIOS */
 .form-user {
    padding: 1rem;
}

.form-user input[type=text],
input[type=password],
select {
    width: 100%;
    padding: .5rem;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-user input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-user input[type=submit]:hover {
    background-color: #45a049;
}


.form-user .div-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

 
/* CSS MODALES */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

button {
  background-color: #47a386;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  padding: 10px 25px;
}
.modal-header{
    width: 100%;
    display: flex;
    align-items: center;
  justify-content: space-between;
 
}
.modal-header button{
  padding: .2rem .5rem  !important;
 
}
.modal-container {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  align-items: center;
  justify-content: center;
  position: fixed;
  pointer-events: none;
  opacity: 0;  
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transition: opacity 0.3s ease;
}

.show {
  pointer-events: auto;
  opacity: 1;
}

.modal-dialog {
  background-color: #fff;
  width: 600px;
  max-width: 100%;
  padding: 30px 50px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.modal h1 {
  margin: 0;
}

.modal p {
  opacity: 0.7;
  font-size: 14px;
}
.dino{
padding:1rem;
margin:1rem;
}